/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Nunito:wght@400;600&display=swap');

@font-face {
  font-family: "Palindrome";
  src: url('./fonts/PalindromeExpandedSSK_Bold.woff');
}

:root {
  --mainBackground: #E6BA95;
  --thirdSectionBg: #FAFDD6;
  --secondSectionBg: #FAFDD6;
  --fourthSectionBg: #A2B38B;
}

* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  overflow-x: hidden;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

@media (min-width:320px) {
  body {
    background: var(--mainBackground);
  }

  .main-container {
    width: 50%;
    margin: auto;
    margin-top: 40vh;
    transform: translateX(50%);
    text-align: center;
    color: rgb(17, 17, 17);
  }

  .name-title {
    font-family: 'Palindrome';
    font-size: 40px;
  }

  .sub-title {
    font-family: 'Nunito';
    font-size: 25px;
  }

  .dot-line-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
  }

  .circle {
    background-color: rgb(17, 17, 17);
    height: 10px;
    width: 10px;
    border-radius: 50%;
  }

  .icon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 30px !important;
    margin-top: 10px;
  }

  #second-section {
    background: var(--secondSectionBg);
    width: 100vw;
    height: 50vh;
    box-sizing: border-box;
    padding: 35px;
    scroll-snap-align: start;
  }

  .title {
    font-family: 'Palindrome';
    font-size: 20px;
  }

  .experience-list {
    margin-top: 20px;
  }

  .time-period-label {
    font-family: 'Nunito';
    font-weight: bolder;
  }

  .experience-label {
    font-family: 'Nunito';
  }

  .experience-item:not(:first-child) {
    margin-top: 10px;
  }

  #third-section {
    background: var(--thirdSectionBg);
    width: 100vw;
    height: 50vh;
    box-sizing: border-box;
    padding: 35px;
  }

  .technologies-list {
    margin-top: 20px;
    font-family: 'Nunito';
  }

  .technologies-item:not(:first-child) {
    margin-top: 10px;
  }

  #fourth-section {
    background: var(--fourthSectionBg);
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 200vh;
    box-sizing: border-box;
    padding: 35px;
  }

  #sections-holder {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100vh;
  }

  #abstract-blob {
    position: absolute;
    width: 90vw;
    height: 90vh;
    transform: translate3d(10%, 5%, 0);
  }

  #blob {
    display: block;
    fill: red;
    height: 100%;
    width: 100%;
    margin: auto;
  }
}

@media (min-width:1281px) {
  #app {
    scroll-snap-type: y mandatory;
  }

  #second-section {
    width: 50vw;
    position: relative;
  }

  #third-section {
    width: 50vw;
    position: relative;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .name-title {
    font-size: 68px;
    mix-blend-mode: difference;
  }

  .dot-line-container {
    width: 450px;
    margin: auto;
    margin-top: 25px;
  }

  .icon-container {
    margin: auto;
    margin-top: 25px;
    width: 250px;
  }

  .main-container {
    margin-top: 37vh;
  }

  #sections-holder {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 100vh;
  }

  #fourth-section {
    top: 150vh;
    height: 50vh;
  }

  #abstract-blob {
    transform: translate3d(50%, 35%, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 50vw;
    height: 60vh;
    z-index: -1;
  }

  #blob {
    fill: red;
    width: 100%;
    height: 100%;
  }
}