/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Nunito:wght@400;600&display=swap');

@font-face {
  font-family: "Palindrome";
  src: url('./fonts/PalindromeExpandedSSK_Bold.woff');
}

@font-face {
  font-family: "Akira";
  src: url('./fonts/AkiraExpanded.otf');
}

:root {
  --mainBackground: #E6BA95;
  --thirdSectionBg: #FAFDD6;
  --secondSectionBg: #FAFDD6;
  --fourthSectionBg: #A2B38B;
}

* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  overflow-x: hidden;
  height: 100vh;
  background: rgb(24, 24, 24);
  color: rgb(228, 228, 228);
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

@media (min-width:320px) {

  body {
    overflow-y: hidden;
    ;
  }

  .container {
    padding: 50px;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
  }

  .webgl {
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: exclusion;
  }

  #title {
    font-family: 'Akira';
    margin-top: 30vh;
    font-size: 60px;
  }

  #subtitle {
    font-family: 'Nunito';
    font-size: 17px;
  }

  #icon-section {
    width: 150px;
    margin-top: 2vh;
    float: right;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 25px;
  }

}

@media (min-width:1281px) {
  section {
    height: 100vh;
  }

  .container {
    padding: 50px;
    font-size: 45px;
    height: 100vh;
    box-sizing: border-box;
  }

  #title {
    font-family: 'Akira';
    margin-top: 15vh;
  }

  #subtitle {
    font-family: 'Nunito';
    font-size: 35px;
  }

  .webgl {
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: exclusion;
  }

  #icon-section {
    width: 200px;
    float: right;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}