/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Nunito:wght@400;600&display=swap');

@font-face {
  font-family: "Palindrome";
  src: url('./fonts/PalindromeExpandedSSK_Bold.woff');
}

* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  overflow-x: hidden;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

@media (min-width:320px) {
  body {
    background-color: #626DD3;
  }

  .main-container {
    width: 50%;
    margin: auto;
    margin-top: 40vh;
    text-align: center;
    color: rgb(17, 17, 17);
  }

  .name-title {
    font-family: 'Palindrome';
    font-size: 40px;
  }

  .sub-title {
    font-family: 'Nunito';
    font-size: 25px;
  }

  .dot-line-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
  }

  .circle {
    background-color: rgb(17, 17, 17);
    height: 10px;
    width: 10px;
    border-radius: 50%;
  }

  .icon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 30px !important;
    margin-top: 10px;
  }

  #second-section {
    background-color: #cf62d3;
    position: absolute;
    width: 100vw;
    height: 50vh;
    top: 100vh;
    box-sizing: border-box;
    padding: 35px;
  }

  .title {
    font-family: 'Palindrome';
    font-size: 20px;
  }

  .experience-list {
    margin-top: 20px;
  }

  .time-period-label {
    font-family: 'Nunito';
    font-weight: bolder;
  }

  .experience-label {
    font-family: 'Nunito';
  }

  .experience-item:not(:first-child) {
    margin-top: 10px;
  }

  #third-section {
    background-color: #62d36b;
    position: absolute;
    width: 100vw;
    height: 50vh;
    top: 150vh;
    box-sizing: border-box;
    padding: 35px;
  }

  .technologies-list {
    margin-top: 20px;
  }

  .technologies-item:not(:first-child) {
    margin-top: 10px;
    font-family: 'Nunito';
  }

  #fourth-section {
    background-color: #d36262;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 200vh;
    box-sizing: border-box;
    padding: 35px;
  }
}